.big-button {
  background: goldenrod;
  font-size: 20px;
}
.container {
  margin: 10px;
  .result {
    margin: 20px 0;
  }
  .content {
    padding: 4px 8px;
    box-shadow: 2px 2px 5px 0px #ccc;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: -1;
  will-change: transform;
  transition: transform 1.2s ease-out 0s, opacity 1.2s ease-out 0s;
}

.fade {
  opacity: 0;
}
.slide-left {
  transform: translateX(-100px);
}
.slide-right {
  transform: translateX(100px);
}
