.container {
  width: 70%;
  margin: 10px auto;
  .result {
    padding: 10px;
    box-shadow: 3px 2px 4px 0px #ccc;
  }

  .relative {
    position: relative;
  }

  .abs {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    opacity: 0.6;
    z-index: -1;
    will-change: transform;
    transition: transform 2s ease-out 0s, opacity 1.2s ease-out 0s;
  }

  .slide-left {
    transform: translateX(-100px);
  }
  .slide-right {
    transform: translateX(100px);
  }
  .fade {
    opacity: 0;
  }
}
